.descMovie {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  & p {
    margin-bottom: 22px;
  }
}

.btnBack {
  font-size: 16px;
  border-radius: 10px;
  margin: 20px 0 0;
  padding: 5px 15px;
  display: inline-block;

  border: none;
  background-color: rgb(42, 111, 177);
  color: rgb(2, 2, 2);
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}

.img {
  display: block;
  width: 240px;
}

.wrapperDetails {
  width: 63%;
  font-size: 14px;
}

.detailsTitle {
  margin-bottom: 7px;
  font-size: 20px;
}

.mainTitle {
  font-size: 28px;
}

.genresMovie {
  display: flex;

  & li {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
